*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0 auto;
    height: auto;
    width: 1280px;
}
.container {
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
}
header{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: auto;
    background-color:   #F9E0AE;
}

img{
    margin: 0;
    margin-top: 5px;
    font-size: 30px;
    margin-left: 150px;
}

.main_menu ul li{
    list-style-type: none;
    margin-right: 50px;
    display: inline;
    align-items: center;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
button{
    width: 161px;
    height: 40px;
    background-color: #C24914;
    border-radius: 10px;
    border-color: #C24914;
    color: white;
}
.button{
    position:relative;
    text-align: right;
    top: -40px;
    left: 65px;
}
.Info-block-one h1{
    margin: 0;
    margin-top:76px;
    margin-left: 250px;
    font-size: 32pt;
}
.Info-block-one p{
    color: #8a8787;
    font-size: 20px;
    margin: 0;
    margin-left: 250px;
}
.button button{
    position: relative;
    width: 161px;
    height: 40px;
    color: white;
    background-color: #682C0E;
    border-radius: 10px;
    border-color: #C24914;
    margin-top:76px;
    right: 290px;
}
.photo{
    position: relative;
    float: right;
    bottom: 210px;
}
.photo__2{
    position: relative;
    top: 300px;
    float: left;
    left: 100px;
}
.Info-block-two h1{
    position: relative;
    float: right;
    right: 150px;
    font-size: 32pt;
}
.list{
    position: relative;
    float: right;
    left: 120px;
    top: 135px;
}
.Info-block-three img{
    position: relative;
    float: right;
    top: 500px;
    left: 550px;
}
.Info-block-three h1{
    position: relative;
    float: left;
    top: 240px;
    left: 260px;
    font-size: 32pt;
}
.subscribe-form {
    position: relative;
    width: 1080px;
    height: 140px;
    margin: 0 auto;
    margin-top: 1250px;
    text-align: center;
    background-color: #F9E0AE;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 90px;
}

.subscribe-form input {
    position: relative;
    width: 300px;
    height: 63px;
    font-size: 18px;
    top: 50px;
    justify-content: center;
}

.subscribe-form button {
    position: relative;
    top: 50px;
    width: 300px;
    height: 63px;
    font-size: 18px;
    background-color: #C24914;
}
.start-growing h1{
    position: relative;
    left: 260px;
    font-size: 32pt;
    top: 100px;
}
.start-growing p{
    position: relative;
    left: 200px;
    top: 95px;
    color: #8a8787;
}
.start-growing img{
    position: absolute;
}
.start-growing button{
    position: relative;
    background-color: #FC8621;
    color: white;
    border-radius: 5px;
    left: 350px;
    top: 100px;
    border-color: #FC8621;
}

footer{
    position: relative;
    top: 600px;
    background-color: #F9E0AE;
    height: 327px;
    color: #8191A6;
}
footer img{
    position: relative;
    top: 100px;
}
.footer__left {
    position: relative;
    top: 30px;
    left: 480px;
    margin-right: 0 auto;
}
.footer__left img{
    position: relative;
    display: inline-block;
    margin-left: auto;
right: 100px;
top: 45px;
}
.footer__center{
    position: relative;
    left: 700px;
    top: 10px;
}
.footer__center li{
    position: relative;
    left:-15px;
}
.contacts{
    position: relative;
    left: 1000px;
    bottom: 100px;
}
.contacts li{
    position: relative;
    list-style-type: none;
    left: -40px;
}
.contacts p{
   position: relative;
   top: 50px;
   right: 300px;
}