*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0 auto;
    height: auto;
}

header{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: auto;
    background-color:   #F9E0AE;
}

img{
    margin: 0;
    margin-top: 5px;
    font-size: 30px;
    margin-left: 150px;
}

.main_menu ul li{
    list-style-type: none;
    margin-right: 50px;
    display: inline;
    align-items: center;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
button{
    width: 161px;
    height: 40px;
    background-color: #C24914;
    border-radius: 10px;
    border-color: #C24914;
    color: white;
}
.button{
    position:relative;
    text-align: right;
    top: -35px;
}
.Info-block-one h1{
    margin: 0;
    margin-top:76px;
    margin-left: 250px;
    font-size: 32pt;
}
.Info-block-one p{
    color: #8a8787;
font-size: 20px;
margin: 0;
margin-left: 250px;
}
.button button{
    position: relative;
    width: 161px;
    height: 40px;
    color: white;
    background-color: #682C0E;
    border-radius: 10px;
    border-color: #C24914;
    margin-top:76px;
    right: 290px;
}
.photo{
    position: relative;
    float: right;
   bottom: 210px;
}
.photo__2{
    position: relative;
    top: 300px;
    float: left;
    left: 100px;
}
.Info-block-two h1{
    position: relative;
    float: right;
    right: 150px;
    font-size: 32pt;
}
.list{
    position: relative;
    float: right;
    left: 120px;
    top: 135px;
}
.Info-block-three img{
    position: relative;
    float: right;
    top: 500px;
    left: 550px;
}
.Info-block-three h1{
    position: relative;
    float: left;
    top: 240px;
    left: 260px;
    font-size: 32pt;
}
